@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Add your custom styles here */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

main {
  /* font-family: "Poppins"; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* background-color: black !important; */
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
